.bg-hero {
   background-color: #fff;
   padding: 20px;
   box-sizing: border-box;
   border-radius: 25px;
   text-align: center;
}

.logo-footer {
   background-color: #fff;
   border-radius: 20px;
   display: inline;
}